// Text
$color: #393d3f;
$color_spring_bud: #bce784;
$color_aquamarine: #5dd39e;
$color_teal_dear: #9bdeac;
$color-jungle: #1b998b;
$color-floral: #FFF8F0;

// Backgrounds
$bg-jungle: #1b998b;
$bg-raspberry: #930439;
$bg-floral: #FFF8F0;
// Borders
