// Text
$color-gray: #393d3f;
$color-grantie-gray: #5D6061;
$color_spring_bud: #bce784;
$color_aquamarine: #5dd39e;
$color_teal_dear: #9bdeac;
$color-jungle: #1b998b;
$color-floral: #FFF8F0;
$color-jungle-dark: #198C7F;

// Backgrounds
$bg-jungle: #1b998b;
$bg-raspberry: #930439;
$bg-floral: #FFF8F0;
$bg-gray: #F1F2F3;
// Borders
