@import "../../static/styles/index.scss";

.avatar {
  object-fit: cover;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  text-align: center;
  background: $bg-gray;
  display: flex;
  align-items: center;
  margin: 0 auto;
}


.card_go {
  border-right: 10px solid $color-jungle;
}

.event_wrapper {
  margin-bottom: 2rem;
}


