@import "../../static/styles/index.scss";

.share {
  vertical-align: top;
  display: inline-block;
  margin-right: 15px;
  text-align: center;
  margin-bottom: 15px;
  cursor: pointer;
}

.card_go {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-left: 10px solid $color-jungle;
}

.go_notification {
  float: right;
  right: 5px;
  color: $color_jungle;
}


