@import "static/styles/index.scss";

* {
    font-family: 'Trebuchet', sans-serif;
}

body {
    background: $bg-gray;
}

.link {
    color: $color-jungle;
}

.link:hover {
    color: $color-jungle-dark;
    text-decoration: none;
}

a:hover {
    color: $color-floral;
    text-decoration: none;
}

button,
button::after {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-jungle {
    background: $bg-jungle;
    color: #ffffff;
}

.btn-jungle:hover {
    color: $bg-jungle !important;
    background: $bg-floral;
    //border-radius: 50px;
    //border-color: #494949 !important;
    transition: all 0.3s ease 0s;
}

.btn-raspberry {
    background: $bg-raspberry;
    color: #ffffff;
}

.btn-raspberry:hover {
    color: $bg-raspberry !important;
    background: $bg-floral;
    //border-radius: 50px;
    transition: all 0.3s ease 0s;
}

.gray-text {
    color: $color-grantie-gray;
}



