@import "static/styles/index.scss";

button,
button::after {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}


.btn-jungle {
    background: $bg-jungle;
    color: #ffffff;
}


.btn-jungle:hover {
    color: $bg-jungle !important;
    background: $bg-floral;
    //border-radius: 50px;
    //border-color: #494949 !important;
    transition: all 0.3s ease 0s;
}

.btn-raspberry {
    background: $bg-raspberry;
    color: #ffffff;
}

.btn-raspberry:hover {
    color: $bg-raspberry !important;
    background: $bg-floral;
    //border-radius: 50px;
    transition: all 0.3s ease 0s;
}




