@import "../../static/styles/index";

.navbar {
  border-bottom: 0.5rem solid $color-jungle-dark;
  padding-top: 0 ;
  padding-bottom: 0 ;
}

.bg-jungle {
  background: $bg-jungle;
  color: $color-gray;
}

.logo {
  height: 3rem;
  padding: 0;
  margin: 0 auto;
}

a:hover {
  color: $color_teal_dear !important;
}
