@import "../../static/styles/index";

.navbar {
  position: sticky;
  position: -webkit-sticky;
  border-bottom: 0.5rem solid $color-jungle-dark;
  top: 0; /* required */
  padding-bottom: 0 ;
  z-index: 20;
}

.bg_jungle {
  background-color: $bg-jungle;
  color: $color-gray;
}

.logo {
  height: 2.5rem;
  padding: 0;
  margin: 0 auto;
}

a:hover {
  color: $color_teal_dear !important;
}
.navbar_toggle {
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;}

.toggle_icon {
  background-color: #fff;
}

